
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('header.css');
@import url('body.css');
@import url('footer.css');
@import url('login.css');
@import url('registration.css');
@import url('userpage.css');
@import url('detail.css');
@import url('about.css');
@import url('userdetails.css');





