#userpage{
    .userpage{
        margin: 20px 0px;
        .foritem{
            margin: 5px 0px;
        }
    }
}
#userul{

    margin-right: 60px;
    a{
        text-decoration: none;
        color: black !important;
    }
}
.blockaccount{
    visibility: hidden;
}