
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about">
    <div class="container">
        <h1>HomeSale</h1>
        <p>
            
            HomeSale layihəsi Azərbaycanda özəl Daşınmaz Əmlak  elanları üçün universal meydança təşkil etmək məqsədi ilə yaradılıb.

            Hər bir kəs HomeSale saytından istifadə etməklə daşınmaz əmlakın alqı-satqı və kirayəsi üzrə elanları yerləşdirə və axtara bilər.

            HomeSale-da əsasən ayrıca fərdlər elan yerləşdirir, lakin sayt şirkət və fərdi sahibkarlar üçün də maraq kəsb edir. Rahat elan yerləşdirmə imkanı geniş məlumat bazasının mövcudluğuna tam olaraq şərait yaradılmışdır. Bu isə öz növbəsində elan baxıcılarının artımını sürətləndirir. Nəticədə faydalı iş prinsipi həndəsi silsilə ilə artmaqda davam edir. Effektivlik artdıqca istifadəçilər artır, istifadəçilər isə artdıqca effektivlik dərəcəsi artır. Əgər hər hansı təklifiniz və ya müsbət istiqamətdə tövsiyyəniz olarsa info@HomeSale e-mail ünvanına öz müraciətinizi göndərə, HomeSale nömrəsi ilə əlaqə saxlaya bilərsiniz.

            HomeSale layihəsinin bütün hüquqları “HomeSale” MMC  HomeSale tərəfindən qorunur.

            Hörmətlə,
            Administrasiya.
        </p>
    </div>
</section>
<section id="aboutText">
    <div class="container">
        <p>
            Haqqımızda
            HomeSale layihəsi Azərbaycanda özəl Daşınmaz Əmlak  elanları üçün universal meydança təşkil etmək məqsədi ilə yaradılıb.

            Hər bir kəs HomeSale saytından istifadə etməklə daşınmaz əmlakın alqı-satqı və kirayəsi üzrə elanları yerləşdirə və axtara bilər.

            HomeSale-da əsasən ayrıca fərdlər elan yerləşdirir, lakin sayt şirkət və fərdi sahibkarlar üçün də maraq kəsb edir. Rahat elan yerləşdirmə imkanı geniş məlumat bazasının mövcudluğuna tam olaraq şərait yaradılmışdır. Bu isə öz növbəsində elan baxıcılarının artımını sürətləndirir. Nəticədə faydalı iş prinsipi həndəsi silsilə ilə artmaqda davam edir. Effektivlik artdıqca istifadəçilər artır, istifadəçilər isə artdıqca effektivlik dərəcəsi artır. Əgər hər hansı təklifiniz və ya müsbət istiqamətdə tövsiyyəniz olarsa info@HomeSale e-mail ünvanına öz müraciətinizi göndərə, HomeSale nömrəsi ilə əlaqə saxlaya bilərsiniz.

            HomeSale layihəsinin bütün hüquqları “HomeSale” MMC  HomeSale tərəfindən qorunur.

            Hörmətlə,
            AdministrasiyaHaqqımızda
            HomeSale layihəsi Azərbaycanda özəl Daşınmaz Əmlak  elanları üçün universal meydança təşkil etmək məqsədi ilə yaradılıb.


            Hörmətlə,
            Administrasiya
        </p>
    </div>
</section>

